.flex-row {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-row button {
  margin: 10px;
}

.flex-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.flex-center {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
